home-wrapper {

    margin: ($base-size * 3.52) auto;
  
    padding: ($base-size * 2) ($base-size * 2);
  
    background: $color-light;
  
    border-bottom: 1px solid lighten($color-dark, 70%);
  
    border-radius: $radius;
  
  }
  
  
  
  
  // Navigation //
  
  
  
  
  .navigation img {
  
    width: 100%;
  
    height: 140px;
  
    object-fit: cover;
  
  }
  
  
  
  
  .opening-hour {
  
    width: 100%;
  
    height: 140px;
  
    background-color: $color-main;
  
  }
  
  
  
  
  .row {
  
    --bs-gutter-x: 0.3rem;
  
    --bs-gutter-y: 0;
  
  }
  
  
  
  
  .card-body {
  
    color: $color-light;
  
    text-align: center;
  
  }
  
  
  
  
  .card-body-dynamic {
  
    p {
  
      margin: auto;
  
      transition: transform 0.7s ease-in-out;
  
  
  
  
      &.active {
  
        font-size: 0px;
  
        color: $color-main;
  
      }
  
    }
  
  }
  
  
  
  
  .card-body-dynamic:hover {
  
    cursor: pointer;
  
  
  
  
    p {
  
      font-size: 8px;
  
      margin: auto;
  
      transform: scale(1.4);
  
  
  
  
      &.transparent {
  
        opacity: 0;
  
      }
  
    }
  
  }
  
  
  
  
  .card-body h3 {
  
    font-family: $font-header;
  
    font-size: 24px;
  
    font-weight: 500;
  
    transition: transform 0.7s ease-in-out;
  
  }
  
  
  
  
  .card-body h4 {
  
    font-family: $font-text;
  
    font-size: 14px;
  
    line-height: 1.7;
  
    transition: transform 0.7s ease-in-out;
  
  }
  
  
  
  
  .card-body:hover h3, .card-body:hover h4 {
  
    transform: scale(1.4);
  
  }
  
  
  
  
  // Opinioins //
  
  
  
  
  .main-carousel .flickity-prev-next-button {
  
    display: none;
  
  }
  
  
  
  
  .opinions img {
  
    height: 200px;
  
    padding-right: 15px;
  
  }
  
  
  
  
  // Gallery //
  
  
  
  
  .gallery img {
  
    width: 100%;
  
    height: 200px;
  
    object-fit: cover;
  
  }
  
  
  
  
  .gallery .card {
  
    .icons {
  
      color: $color-light;
  
      font-size: 18px;
  
    }
  
  }
  
  
  
  
  .gallery .card:hover {
  
  
  
  
    cursor: pointer;
  
  
  
  
    .icons {
  
      color: $color-main;
  
      font-size: 24px;
  
    }
  
  
  
  
    img {
  
      opacity: 0.6;
  
    }
  
  }
  
  
  
  
  // Media //
  
  
  
  
  .media a {
  
    color: $color-main;
  
    font-family: $font-header;
  
    transition: color 0.7s ease;
  
  }
  
  
  
  
  .media a:hover {
  
    background-image: linear-gradient($color-dark, $color-main);
  
    background-clip: text;
  
    -webkit-text-fill-color: transparent;
  
  }